RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
Options -Indexes 

# Main Page
# RewriteRule ^/?$ login/login.html
RewriteRule ^login/?$ login/login.html
RewriteRule ^login/p_login/?$ login/login.html
RewriteRule ^login/forgot/?$ login/forgot.html
RewriteRule ^login/contact/?$ login/contact.html
RewriteRule ^login/register/?$ login/register.html
RewriteRule ^login/activate/(.+)/?$ login/activate.html
RewriteRule ^login/semakan/(.+)/?$ login/semakan.html

# Modul Pengambilan
RewriteRule ^admin/home?$ admin/html/home.html
RewriteRule ^admin/senarai_permohonan_pgspp?$ admin/html/senarai_permohonan_pgspp.html
RewriteRule ^admin/mpg_maklumat_calon?$ admin/html/mpg_maklumat_calon.html
RewriteRule ^admin/mpg_permohonan_pengisian?$ admin/html/mpg_permohonan_pengisian.html
RewriteRule ^admin/mpg_sah_selesai_pemerolehan?$ admin/html/mpg_sah_selesai_pemerolehan.html
RewriteRule ^admin/mpg_pindah_calon?$ admin/html/mpg_pindah_calon.html
RewriteRule ^admin/mpg_catatan_pemerolehan?$ admin/html/mpg_catatan_pemerolehan.html
RewriteRule ^admin/mpg_gabungan_skim?$ admin/html/mpg_gabungan_skim.html
RewriteRule ^admin/mpg_salin_calon?$ admin/html/mpg_salin_calon.html
RewriteRule ^admin/mpg_kemaskini_calon_pemerolehan?$ admin/html/mpg_kemaskini_calon_pemerolehan.html
RewriteRule ^admin/mpg_pengesahan_pintas_aliran?$ admin/html/mpg_pengesahan_pintas_aliran.html
RewriteRule ^admin/mpg_proses_pemerolehan?$ admin/html/mpg_proses_pemerolehan.html
RewriteRule ^admin/mpg_laporan_pemerolehan?$ admin/html/mpg_laporan_pemerolehan.html
RewriteRule ^admin/mpg_analisis_pemerolehan?$ admin/html/mpg_analisis_pemerolehan.html
RewriteRule ^admin/mpg_statistik_asas?$ admin/html/mpg_statistik_asas.html
RewriteRule ^admin/mpg_maklumat_pemerolehan?$ admin/html/mpg_maklumat_pemerolehan.html



# Modul Kertas
RewriteRule ^admin/senarai_ekeps?$ admin/html/senarai_ekeps.html

# Modul eRuling
RewriteRule ^admin/senarai_ruling?$ admin/html/senarai_ruling.html