RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
Options -Indexes 

# Main Page
# RewriteRule ^/?$ login/login.html
RewriteRule ^login/?$ login/login.html
RewriteRule ^login/p_login/?$ login/login.html
RewriteRule ^login/forgot/?$ login/forgot.html
RewriteRule ^login/contact/?$ login/contact.html
RewriteRule ^login/register/?$ login/register.html
RewriteRule ^login/activate/(.+)/?$ login/activate.html
RewriteRule ^login/semakan/(.+)/?$ login/semakan.html

# Modul Pengambilan
RewriteRule ^admin/home?$ admin/html/home.html
RewriteRule ^admin/senarai_permohonan_pgspp?$ admin/html/senarai_permohonan_pgspp.html

# Modul Kertas
RewriteRule ^admin/senarai_ekeps?$ admin/html/senarai_ekeps.html

# Modul eRuling
RewriteRule ^admin/senarai_ruling?$ admin/html/senarai_ruling.html