
.bg-primary-color { color: #4285f4 !important; }

.bg-primary-color-dark { color: #0d47a1 !important; }

.bg-secondary-color { color: #aa66cc !important; }

.bg-secondary-color-dark { color: #9933cc !important; }

.bg-default-color { color: #2bbbad !important; }

.bg-default-color-dark { color: #00695c !important; }

.bg-info-color { color: #33b5e5 !important; }

.bg-info-color-dark { color: #0099cc !important; }

.bg-success-color { color: #00c851 !important; }

.bg-success-color-dark { color: #007e33 !important; }

.bg-warning-color { color: #ffbb33 !important; }

.bg-warning-color-dark { color: #ff8800 !important; }

.bg-danger-color { color: #ff3547 !important; }

.bg-danger-color-dark { color: #cc0000 !important; }

.bg-elegant-color { color: #2e2e2e !important; }

.bg-elegant-color-dark { color: #212121 !important; }

.bg-stylish-color { color: #4b515d !important; }

.bg-stylish-color-dark { color: #3e4551 !important; }

.bg-unique-color { color: #3f729b !important; }

.bg-unique-color-dark { color: #1c2331 !important; }

.bg-special-color { color: #37474f !important; }

.bg-special-color-dark { color: #263238 !important; }
